$font-stack: Poynter, sans-serif;
$brand-font: Interstate, serif;
$brand-size: 32px;

.flexbox-container {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  border-bottom: 2px black solid;
  background-color: black;
  color: white;
  height: 55px;
}

.brand {
  font-family: $brand-font;
  font-size: $brand-size;
  padding-left: 10px;
  padding-right: 15px;
  font-weight: 900;
}

.navbar-container {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0;
  margin: 0;
}

.link {
  font-family: $font-stack;
  color: white;
  background-color: black;
  height: 100%;
  align-items: center;
  padding-top: 12px;
  border-left: 2px solid;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}
.link2 {
  font-family: $font-stack;
  color: white;
  background-color: black;
  height: 100%;
  align-items: center;
  padding-top: 12px;
  border-left: 2px solid;
  border-right: 2px solid;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}

.link:hover,
.link2:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}

.contribute {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0;
  margin: 0;
  margin-left: auto;
}
