$font-stack: Poynter, sans-serif;
$brand-font: Interstate, serif;
$brand-size: 48px;

.header {
  border-bottom: 2px black solid;
  background-image: url("../images/WorldNewsBanner.png");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  color: white;
}

.brand-header {
  font-family: $brand-font;
  font-size: $brand-size;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 900;
  margin-top: 0;
  padding-top: 3%;
  padding-left: 20px;
}

.subtitle-header {
  padding-top: 0;
  font-family: $brand-font;
  padding-bottom: 2%;
  padding-left: 20px;
}

.WN-container {
  display: flex;
}
.main-news {
  flex-basis: 60%;
  background-color: aqua;
  padding: 2%;
}

.most-read {
  flex-basis: 40%;
  background-color: bisque;
  padding: 2%;
}

.header-LN {
  border-bottom: 2px black solid;
  background-image: url("../images/try1.jpeg");
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  color: black;
}

.error {
  text-align: center;
}

.news-image {
  width: 100px;
}
